.main{
    height: 100vh;
    width: 100%;
    background-color: burlywood;
    position: relative;
}
.caixa{
    background-image: linear-gradient(15deg, rgb(0, 255, 106), black);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: aliceblue;
    border-radius: 3px;
    text-align: center;
    width: 400px;
}
.nome{
    margin: 2px;
    background-color: rgba(127, 255, 138, 0.582);
    border: none;
    color:rgb(0, 0, 0)
}
.btn{
    margin: 35px;
    height: 45px;
    width: 150px;
    background-image: linear-gradient(15deg, rgb(255, 230, 0), black);
    border: none;
    color: #ffff;
}
.btn:hover{
    background-image: linear-gradient(360deg, rgb(255, 230, 0), black);
}
.btn:active{
    background-image: none;
    background-color: yellow;
}